@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
	margin: 0;
	background-color: #f7ebef;
	font-family: "Quicksand";
	color: #333;
}

.content {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
}

.task-preview {
	padding: 10px 16px;
	margin: 20px 0;
	border-bottom: 1px solid #fafafa;
	border-left: 6px solid #f1356d;
	overflow-wrap: break-word;
  }
  .task-preview:hover {
	box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .task-preview h2 {
	font-size: 20px;
	color: #f1356d;
	margin-bottom: 8px;
  }

  .task-preview a{
	text-decoration: none;
  }

  .completed{
	border-left: 6px solid #62b55d;
  }

  .inprogress{
	border-left: 6px solid #dabe4e;
  }

  .task-details h2 {
	font-size: 20px;
	color: #f1356d;
  }

  .task-details h1{
	font-size: 30px;
	margin-bottom: 20px;
  }

  .task-details button {
	background: #f1356d;
	color: #fff;
	border: 0;
	padding: 8px;
	margin-right: 20px;
	border-radius: 8px;
	cursor: pointer;
  }
  .create {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
  }
  .create label {
	text-align: left;
	display: block;
  }
  .create h2 {
	font-size: 20px;
	color: #f1356d;
	margin-bottom: 30px;
  }
  .create input, .create textarea, .create select {
	width: 100%;
	padding: 6px 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
  }
  .create button {
	margin-top: 15px;
	background: #f1356d;
	color: #fff;
	border: 0;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	width: 110px;
  }

  .not-found{
	color: #f1356d;
	padding-top: 50px;
	text-align: center;
  }

  .list-preview{
	display: flex;
	flex-wrap: wrap;
  }

  .compilation{
	flex: 0 0 30%;
	margin: 20px;
  }

  .statistic{
	display: flex;
    justify-content: space-between;
	flex: 0 0 60%;
	left: 267.5px;
  }

  .statistic strong{
	background-color: #e0dfdf;
	justify-self: end;
  }

  .default-layout{
	margin-top: 50px;
  }

  .task-width{
	width: 600px;
  }

  .compilation-container, .task-container{
	position: relative;
	background-color: #e0dfdf;
	padding: 10px 16px;
	border: 2px solid #f1356d;
	border-radius: 10px;
	overflow-wrap: break-word;
  }

  .compilation-container{
	margin: 20px;
  }

  .task-container{
	margin: 20px auto;
	width: 600px;
  }

  .compilation-container:hover,  .task-container:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #f1356d 0px -3px 5px;
  }
  .compilation-container h2, .compilation-container h3, .compilation-container p,
  .task-container h2, .task-container h3, .task-container p{
	background-color: #e0dfdf;
	color: black;
	margin-bottom: 8px;
	text-align: start;
  }

  .low-completeness{
	border: 2px solid #f15b35
  }

  .low-completeness:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #f15b35 0px -3px 5px;
  }

  .medium-completeness{
	border: 2px solid #c1cc29e8
  }

  .medium-completeness:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #c1cc29e8 0px -3px 5px;
  }

  .high-completeness{
	border: 2px solid #76a223d4
  }

  .high-completeness:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #76a223d4 0px -3px 5px;
  }

  .done-completeness{
	border: 2px solid #2ac82ac5
  }

  .done-completeness:hover{
	box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #2ac82ac5 0px -3px 5px;
  }

  .compilation-container h2, .task-container h2 {
	font-size: 25px;
  }
  .compilation-container h3, .task-container h3 {
	font-size: 15px;
  }

  .compilation-container a, .task-container a{
	text-decoration: none;
  }

  .small-button {
	position: absolute;
	min-width: 76px;
	right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.267);
	display: flex;
	justify-content: space-between;
	padding: 0;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 13px;
	font-weight: 800;
	cursor: pointer;
}

.share-button{
	top: 32px;
}

.edit-button{
	top: 7px;
}

.delete-button{
	top: 57px;
}

.edit-button:hover {
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #f8ff21e8 0px -1px 2px; */
	border: 2px solid #f2de00e8;
}

.share-button:hover {
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #21c3fd 0px -1px 2px; */
	border: 2px solid #21c3fd;
}

.delete-button:hover {
	/* box-shadow: rgba(0, 0, 0, 0.25) 0px 34px 35px, rgba(0, 0, 0, 0.12) 0px -7px 10px, 
	rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 7px 8px, #f1356d 0px -1px 2px; */
	border: 2px solid #f1356d;
}

.small-button-text,
.small-button-icon {
	display: inline-flex;
	align-items: center;
	padding: 0 5px;
	color: black;
	height: 100%;
}

.small-button-icon {
	padding-top: 3px;
	font-size: 1em;
}

.checkbox-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.checkbox-button {
	flex: 0 0 5%;
}

.checkbox-text {
	flex: 0 0 95%;
	margin-left: 5px;
}

.flexible-container{
	width: 600px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
}

.flexible-container h3{
	font-size: 15px;
}

.compilation-name{
	color: #f1356d;
}

.navbar {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	border-bottom: 1px solid #9a9a9a86;
}
.navbar h1 {
  	color: #f1356d;
}
.navbar .links {
  	margin-left: auto;
	align-items: center;
}
.navbar a {
	color:#333333;
	margin-left: 50px;
	text-decoration: none;
	font-size: x-large;
	padding: 6px;
}

.navbar p{
	font-size: x-large;
	margin-bottom: 0px;
}

.navbar p:hover{
	color: #f1356d;
}

.navbar a:hover {
  	color: #f1356d;
}

.dropdown {
	float: left;
	margin-left: 50px;
  }

  .dropdown .dropbtn {
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  
  .dropdown-content {
	padding-top: 17px;
	display: none;
	position: absolute;
	text-align: center;
	min-width: 100px;
	left: -5px;
  }
  
  .dropdown-content a {
	background-color: #d0d0d06f;
	border: 1px solid #f1356d;
	border-radius: 10px;
	margin: 0px 0px 2px 0px;
	font-size: medium;
	float: none;
	color: black;
	text-decoration: none;
	display: block;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

  .add-task-btn{
	text-align: center;
	margin-top: 15px;
	background: #f1356d;
	color: #fff;
	border: 0;
	padding: 8px;
	border-radius: 8px;
	cursor: pointer;
	width: 100px;
  }
